# Variable file for ubuntu_vm workspace
libvirt_pool_path = "/var/lib/libvirt/images/terraform/ubuntu_vm"
img_url           = "https://cloud-images.ubuntu.com/noble/current/noble-server-cloudimg-amd64.img"
hostname          = "<hostname>"
packages          = ["qemu-guest-agent"]
cpus              = "<number-of-cpus>"
memory            = "<amount-of-memory>"
root_pwd          = "<root-password>"
username          = "<username>"
user_pwd          = "<user-password>"
ssh_public_key    = "~/.ssh/<your-ssh-key>.pub"
network           = "<network-name>"
dhcp              = "<true|false>"
ip_address        = "<ip-address>"
subnet_cidr       = "<subnet-cidr>"
gateway           = "<gateway-ip>"
nameservers       = ["<dns-server1>", "<dns-server2>"]
